.md-typeset { font-size: .8rem; }
.md-typeset pre > code { font-size: .72rem; }
.md-typeset a { overflow-wrap: anywhere; }
.md-typeset table:not([class]) { font-size: .72rem; }
@media (max-width: 600px) {
  .md-typeset { font-size: .8rem; }
  .md-typeset h1 { font-size: 1.6rem; }
}
